<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    body{
      overflow-y: hidden;
    }
    </style>
  </head>
<body>
<div class="stage" id="stage">
  <div class="block block-fill-height app-block-wayne" style="background-image: url(/assets/q.jpg)">
    <div id="slider1" >
      <div id="image_slider" class="row">
      <div id="slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
      <li data-target="#slider" data-slide-to="3"></li>
      <li data-target="#slider" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
        <h1>Bharath Ane Nenu</h1>
        <p>Listen All tracks</p>
        <a class="btn btn-info" <%= link_to 'Listen Here', bharath_path %></a>
       </div>
       <img class="d-block img-fluid" src="/assets/bharath.jpg" alt="Music Album 0">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
        <h1>Naa Peru Surya Naa illu India</h1>
        <p>Listen All tracks</p>
        <a class="btn btn-info" <%= link_to 'Listen Here', naperu_path %></a>
       </div>
       <img class="d-block img-fluid" src="/assets/naperu.jpg" style="max-width:100%"; alt="Music Album 1">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
        <h1 class="text-serif">Rangasthalam</h1>
        <p>Listen All tracks</p>
        <a class="btn btn-info" <%= link_to 'Listen Here', ranga_path %></a>
       </div>
       <img class="d-block img-fluid" src="/assets/ranga.jpg" alt="Music Album 2">
      </div>
      <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
      <h1 class="text-serif" >Kirak Party</h1>
      <p>Listen All tracks</p>
      <a class="btn btn-info" <%= link_to 'Listen Here', kirak_path %></a>
     </div>
     <img class="d-block img-fluid" src="/assets/kirak.jpg" alt="Music Album 3">
      </div>
      <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
      <h1 class="text-serif" >Tholi Prema</h1>
      <p>Listen All tracks</p>
      <a class="btn btn-info" <%= link_to 'Listen Here', tholi_path %></a>
     </div>
     <img class="d-block img-fluid" src="/assets/tholi.jpg" alt="Music Album 4">
      </div>
    </div>
    <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="block-sm-right block-xs-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="block-title mb-4">
              <span class="text-ribbon text-ribbon-primary">
                <span><a class="text-dark" <%= link_to 'Live FM Radio', fm_path %></a></span>
              </span>
            </h1>
            <p class="lead mt-1">
              <span class="text-ribbon text-ribbon-primary">
                <span>
                  Live Non-Stop FM Music of your favorite artists before their hit albums
                </span>
            </span>
            </p>
          </div>
        </div>
      </div>
      </br></br></br></br></br></br></br></br>
    <div id="fm" class="container">
    <div class="row">
    <div class="col">
      <h2><span class="badge badge-success">FM Station 1: NRI Radio</span></h2>
      <audio controls src="http://50.7.99.163:11091/;"></audio><br></br>
    </div>
    <div class="col">
      <h2><span class="badge badge-success">FM Station 2: Hungama</span></h2>
      <audio controls src="http://103.16.47.70:9444/;"></audio><br></br>
    </div>
    <div class="w-100"></div>
    <div class="col">
    <h2><span class="badge badge-success">FM Station 3: Telugu One</span></h2>
    <audio controls src="http://173.203.133.187:9700/;"></audio><br></br>
    </div>
    <div class="col">
    <h2><span class="badge badge-success">FM Station 4: Radio 9</span></h2>
    <audio controls src="http://174.37.252.208:8530/;stream.mp3;"></audio><br></br>
  </div>
  </div>
</div>
      </div>
    </div>
  </div>
  <div class="block block-inverse block-transparent py-0 app-block-grid">
    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img"></div>
      </div>
    </div>
    <div class="container" id="grid">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="row mb-3 mb-md-5">
            <div class="col-lg-12">
              <div class="card card-bold card-success mb-0 app-box-shadow">
                <img src="/assets/dsp.jpg">
                <div class="card-block pb-5">
                  <h4 class="mb-0"> <%= link_to 'Devi Sri Prasad ', dsp_path %></h4>
                  <p class="text-serif"><em>An Indian Composer, Singer, Musician and Philanthropist</em></p>
                  <hr>
                <p class="text-serif"><em> DSP's works are noted for integrating Indian classical music with electronic music, world music and traditional orchestral arrangements.</em></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row hidden-md-down">
            <div class="col-lg-12">
              <div class="card card-bold card-success mb-0 app-box-shadow">
                <img src="/assets/anirudh.jpg">
                <div class="card-block pb-5">
                  <h4 class="mb-0"> <%= link_to 'Anirudh ', anirudh_path %></h4>
                  <p class="text-serif"><em>An Indian Composer, Singer and Instrumentalist</em></p>
                  <hr>
                  <p class="text-serif"><em> Anirudh is an Indian film composer and singer, who primarily works in Tamil and Telugu films.</em></p>
                </div>
              </div>
           </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6">
          <div class="row">
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
                <%= link_to(image_tag("/assets/thaman.jpg"), thaman_path) %>
                <!-- <img src="/assets/thaman.jpg"> -->
              </div><br>
              <h4 class="mb-0"><%= link_to 'Thaman SS', thaman_path %></h4>
            </div>
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
                <%= link_to(image_tag("/assets/anoop.jpg"), anoop_path) %>
              </div><br>
              <h4 class="mb-0"><%= link_to 'Anup Rubens', anoop_path %></h4>
            </div>
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
              <%= link_to(image_tag("/assets/manisharma.jpg"), manisharma_path) %>
            </div><br>
            <h4 class="mb-0"><%= link_to 'Manisharma', manisharma_path %></h4>
            </div><br>
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
                <%= link_to(image_tag("/assets/ilaiyaraja.jpg"), ilayaraja_path) %>
              </div><br>
              <h4 class="mb-0"><%= link_to 'Ilayaraaja', ilayaraja_path %></h4>
              </div><br>
          <div class="row hidden-md-down">
            <div class="col-lg-12">
              <%= link_to(image_tag("/assets/ar_rahman.jpg"), ar_rehman_path) %>
          </div><br>
          <h4 class="mb-0"><%= link_to 'A R Rahman', ar_rehman_path %></h4>
        </div><br>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="block block-fill-height block-transparent block-angle app-block-chainz" id="chainz">
    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img block-bg-img-top" style="background-image: url(/assets/auditorium.jpg)">
        </div>
      </div>
    </div>
  <div class="block-sm-middle block-xs-top">
      <div class="container">
          <div class="row">

            <div class="col-sm-2">
              <div class="card">
                 <img class="card-img-top" src="/assets/sada.jpg" alt="Sada">
                <div class="card-body">
                  <a class="btn btn-primary" <%= link_to 'Sada', sada_path %></a>
                </div>
                </div>
              </div>

            <div class="col-sm-2">
              <div class="card">
                 <img class="card-img-top" src="/assets/malli.jpg" alt="Malli Rava">
                <div class="card-body">
                                    <!-- <h class="card-title">Malli Rava</h> -->
                  <a class="btn btn-primary" <%= link_to 'Malli Rava', malli_path %></a>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="card">
                 <img class="card-img-top" src="/assets/mehabooba.jpg" alt="Mehabooba">
                <div class="card-body">
                  <a class="btn btn-primary" <%= link_to 'Mehabooba ', mehabooba_path %></a>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="card">
                 <img class="card-img-top" src="/assets/yenthara.jpg" alt="Yenthara Lokapu">
                <div class="card-body">
                <a class="btn btn-primary" <%= link_to 'Yenthara', yenthara_path %></a>
                </div>
                </div>
              </div>

                  <div class="col-sm-2">
                    <div class="card">
                       <img class="card-img-top" src="/assets/breakup.jpg" alt="Breakup">
                      <div class="card-body">
                      <a class="btn btn-primary" <%= link_to 'Break Up', teluse_path %></a>
                      </div>
                    </div>
                  </div>

                        <div class="col-sm-2">
                          <div class="card">
                             <img class="card-img-top" src="/assets/adiga.jpg" alt="Adiga Adiga">
                            <div class="card-body">
                            <a class="btn btn-primary" <%= link_to 'Adiga Adiga', adiga_path %></a>
                            </div>
                            </div>
                          </div>
          <div class="col-md-5 offset-sm-7">
            <h1 class="block-title mb-4">
               <span class="text-ribbon text-ribbon-primary">
                <span><a class="text-dark" <%= link_to 'Hand Picked Lyrics', lyrics_path %></a></span>
              </span>
            </h1>
            <p class="lead">
              <span class="text-ribbon text-ribbon-primary ">
                <span>
                  Every album, song, and video is the very best in class.
                </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block block-fill-height block-transparent block-inverse block-angle app-block-kanye">
    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img block-bg-img-top" style="background-image: url(/assets/gitar.jpg)">
        </div>
      </div>
    </div>
    <div class="block-xs-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1 class="block-title mb-4">
              <span class="text-ribbon">
                <span><a class="text-white" <%= link_to 'Music Videos', video_songs_path %></a></span>
              </span>
            </h1>
            <p class="lead">
              <span class="text-ribbon">
                <span>
                  We stream all latest music videos.
                </span>
              </span>
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/bGTA7NEeN5o?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
          <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/AUzkqT1Gaos?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-transparent block-fill-height block-angle block-app-mosdef">
    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img block-bg-img-top" style="background-image: url(/assets/show.jpg)">
        </div>
      </div>
    </div>
    <div class="block-xs-middle">
      <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1 class="block-title mb-4">
            <span class="text-ribbon text-ribbon-info">
             <span><a class="text-dark" <%= link_to 'Audio Songs', songs_path %></a></span>
           </span>
         </h1>
         <p class="lead">
           <span class="text-ribbon text-ribbon-info ">
             <span>
               Listen your favorite audio songs.
             </span>
           </span>
         </p>
        </div>
      </div>
      <div class="audio_left">
      <h2><span class="badge badge-success">Guravaram</span></h2>
      <%=audio_tag "guruvaram.mp3", class:'audio-to-play', controls:true %>
      </div></br>
      <div class="audio_left">
      <h2><span class="badge badge-warning">I Wanna Fly</span></h2>
      <%=audio_tag "iwan.mp3", class:'audio-to-play', controls:true %>
      </div></br>
      <div class="audio_left">
      <h2><span class="badge badge-secondary">Tholi Prema</span></h2>
      <%=audio_tag "tholi.mp3", class:'audio-to-play', controls:true %>
        </div>
      </div>

        <div id="signup" class="row">
          <div id="signup" class="col-md-6 offset-md-6">
            <h1 class="block-title mb-4">
              <span class="text-ribbon text-ribbon-success">
              <span>Sign Up Now</span>
              </span>
            </h1>
            <form action="https://facebook.com/WeLoveTeluguMusic/" target="_blank" method="post">
            <div class="text-ribbon-inputs-split">
              <input id="fname" type="text" class="h4 text-ribbon-input text-ribbon-primary" placeholder="First Name" required>
              <input id="lname" type="text" class="h4 text-ribbon-input text-ribbon-primary" placeholder="Last Name" required>
            </div>
            <input type="email" class="h4 text-ribbon-input text-ribbon-input-half text-ribbon-primary" placeholder="Email" required>
            <button id="submit-button" type="submit" class="btn btn-square btn-primary btn-lg btn-block">
              Sign Up !
            </button>
          </form>
          <p></p>
          <div id="signup-text" style="text-align:center;" class="alert alert-success" role="alert">
          <strong>Hello User Please Fill fieldset for Sign up</strong>
          </div>
        </div>
        </div>
      </div>
    </div>
  <div class="block block-inverse accent-primary" id="footer">
    <div class="container">
      <div class="row text-serif">
        <div class="col-md-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Quick Links</h4></li>
            <li class="text-muted"><em><%= link_to 'Video Songs', video_songs_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Audio Songs', songs_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Lyrics', lyrics_path %></em></li>
            <li class="text-muted"><em><%= link_to 'FM Radio', fm_path %></em></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Social</h4></li>
            <li class="text-muted"><em><a href="https://facebook.com/WeLoveTeluguMusic/">Facebook</a></em></li>
            <li class="text-muted"><em><a href="https://twitter.com/">Twitter</a></em></li>
            <li class="text-muted"><em><a href="https://gmail.com/">Google +</a></em></li>
            <li class="text-muted"><em><a href="https://skype.com/">Skype</a></em></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Artists</h4></li>
            <li class="text-muted"><em><%= link_to 'Manisharma', manisharma_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Thaman S', thaman_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Devi Sri Prasad', dsp_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Anup Rubens', anoop_path %></em></li>
          </ul>
        </div>
        <div class="col-md-6 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Quick Items</h4></li>
            <li class="text-muted">
              <em>Pick your favourite: <a  <%= link_to 'Oosupodu Lyrics,', oosupodu_path %></a> and <a <%= link_to 'Kothaga Kothaga Song lyrics', kothaga_path %></a>,<a <%= link_to 'Audio Songs', songs_path %></a>, and <a <%= link_to 'Rayyi Rayyi Mantu', rayyi_path %></a> <a <%= link_to 'FM Radio', fm_path %></a>,<a <%= link_to 'Yantrapu Lokapu,', yenthara_path %></a> <%= link_to 'Ne Kallalona', nekalla_path %></a> <a <%= link_to 'Adiga Adiga', adiga_path %></a> are shared under the page.
            </li>
          </ul>
        </div>
      </div>
      <div style="text-align:center;"><script type="text/javascript" src="http://services.webestools.com/cpt_visitors/54152-4-8.js"></script>
      <br></br>
      <select id="rating" class="selectpicker">
          <option>Excellent</option>
          <option>Great</option>
          <option>Good</option>
          <option>Average</option>
          <option>Bad</option>
        </select>
        <button id="choose" type="submit" class="btn btn-info btn-sm">
          Choose</button><br>
          <p></p>
        <div id="choose-text" class="alert alert-info" role="alert">
        <strong> Hello User Please Choose Your Rating For We Love Music</strong>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
document.getElementById('choose').onclick=function(){
  var choosed="";
  choosed=document.getElementById('rating').value;
  document.getElementById('choose-text').innerHTML="Thank you for your feed back given as " + choosed;
}
document.getElementById('submit-button').onclick=function(){
  var firstname= "";
  var lastname= "";
  firstname=document.getElementById('fname').value;
  lastname=document.getElementById('lname').value;
  document.getElementById('signup-text').innerHTML="Thank You " + firstname + " " + lastname + " For Sign up, Please Avoid Errors in All fields";
}
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
