<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    body{
      overflow-y: hidden;
    }
    </style>
    <!-- <style>
    <meta name="google-site-verification" content="VnKXAe8yTsCLdUzCT8kSiwihu9fJFM4whHiPzohMRWw" />
        /* body { -->
          <!-- width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        body{
          overflow-y: hidden;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
        }
        .navbar-brand{
          font-family:fantasy;
          font-size: 200%;
          font-weight: 900;
        }

        .card-img-top{
          height: 125px;
          width: 155px;
        }

        .fm{
          float: left;
        } */ -->

    <!-- </style> -->
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://welovemusic.herokuapp.com/songs",
      "name": "Devi Sri Prasad",
      "image": "https://welovemusic.herokuapp.com/assets/dsp.jpg"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://welovemusic.herokuapp.com/video_songs",
      "name": "Anirudh",
      "image": "https://welovemusic.herokuapp.com/assets/anirudh.jpg"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "https://welovemusic.herokuapp.com/andhra_mirchi",
      "name": "FM Radio",
      "image": "https://welovemusic.herokuapp.com/assets/radio9.png"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "https://welovemusic.herokuapp.com/rayyi",
      "name": "Lyrics",
      "image": "https://welovemusic.herokuapp.com/assets/rayyi.jpg"
    }
  }]
}
</script>
  </head>

<body>
<div class="stage" id="stage">
  <div class="block block-fill-height app-block-wayne" style="background-image: url(/assets/q.jpg)">
    <div class="block-sm-right block-xs-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="block-title mb-4">
              <span class="text-ribbon text-ribbon-primary">
                <span> Live FM Radio</span>
              </span>
            </h1>
            <p class="lead mt-1">
              <span class="text-ribbon text-ribbon-primary">
                <span>
                  Live Non-Stop FM Music of your favorite artists before their hit albums
                </span>
            </span>
            </p>
          </div>
        </div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
        <div class= "fm">
            <h2><span class="badge badge-success">FM Station 1: NRI Radio</span></h2>
            <audio controls src="http://50.7.99.163:11091/;"></audio><br></br>
            <h2><span class="badge badge-success">FM Station 2: Spicy Radio</span></h2>
            <audio controls src="http://proxima.shoutca.st:8266/stream"></audio><br></br>
            <h2><span class="badge badge-success">FM Station 3: Telugu One</span></h2>
            <audio controls src="http://173.203.133.187:9700/;"></audio><br></br>
            <h2><span class="badge badge-success">FM Station 4: Radio 9</span></h2>
            <audio controls src="http://174.37.252.208:8530/;stream.mp3;"></audio><br></br>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-inverse block-transparent py-0 app-block-grid">

    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img"></div>
      </div>
    </div>

    <div class="container" id="grid">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="row mb-3 mb-md-5">
            <div class="col-lg-12">
              <div class="card card-bold card-success mb-0 app-box-shadow">
                <img src="/assets/dsp.jpg">
                <div class="card-block pb-5">
                  <h4 class="mb-0"> <%= link_to 'Devi Sri Prasad ', dsp_path %></h4>
                  <p class="text-serif"><em>An Indian Composer, Singer, Musician and Philanthropist</em></p>
                  <hr>
                <p class="text-serif"><em> DSP's works are noted for integrating Indian classical music with electronic music, world music and traditional orchestral arrangements.</em></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row hidden-md-down">
            <div class="col-lg-12">
              <div class="card card-bold card-success mb-0 app-box-shadow">
                <img src="/assets/anirudh.jpg">
                <div class="card-block pb-5">
                  <h4 class="mb-0"> <%= link_to 'Anirudh ', anirudh_path %></h4>
                  <p class="text-serif"><em>An Indian Composer, Singer and Instrumentalist</em></p>
                  <hr>
                  <p class="text-serif"><em> Anirudh is an Indian film composer and singer, who primarily works in Tamil and Telugu films.</em></p>
                </div>
              </div>
           </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6">
          <div class="row">
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
                <%= link_to(image_tag("/assets/thaman.jpg"), thaman_path) %>
                <!-- <img src="/assets/thaman.jpg"> -->
              </div>
            </div>
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
                <%= link_to(image_tag("/assets/anoop.jpg"), anoop_path) %>
              </div>
            </div>
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
              <%= link_to(image_tag("/assets/manisharma.jpg"), manisharma_path) %>
            </div>
            </div>
            <div class="col-lg-6 mb-3 mb-md-5">
              <div class="app-box-shadow">
                <%= link_to(image_tag("/assets/ilaiyaraja.jpg"), ilayaraja_path) %>
              </div>
              </div>
          <div class="row hidden-md-down">
            <div class="col-lg-12">
              <%= link_to(image_tag("/assets/ar_rahman.jpg"), ar_rehman_path) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <div class="block block-fill-height block-transparent block-angle app-block-chainz" id="chainz">

    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img block-bg-img-top" style="background-image: url(/assets/auditorium.jpg)">
        </div>
      </div>
    </div>
  <div class="block-sm-middle block-xs-top">
      <div class="container">

          <div class="row">
            <div class="col-sm-2">
              <div class="card">
                 <img class="card-img-top" src="/assets/malli.jpg" alt="Malli Rava">
                <div class="card-body">
                                    <!-- <h class="card-title">Malli Rava</h> -->
                  <a class="btn btn-primary" <%= link_to 'Malli Rava', malli_path %></a>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="card">
                 <img class="card-img-top" src="/assets/rayyi.jpg" alt="Rayyi rayyi">
                <div class="card-body">
                  <a class="btn btn-primary" <%= link_to 'Rayyi Rayyi', rayyi_path %></a>
              </div>
                </div>
              </div>

            <div class="col-sm-2">
              <div class="card">
                 <img class="card-img-top" src="/assets/hello.jpg" alt="Merise">
                <div class="card-body">
                  <a class="btn btn-primary" <%= link_to 'Merise ', merise_path %></a>
                </div>
              </div>
            </div>

                  <div class="col-sm-2">
                    <div class="card">
                       <img class="card-img-top" src="/assets/breakup.jpg" alt="Breakup">
                      <div class="card-body">
                      <a class="btn btn-primary" <%= link_to 'Break Up', teluse_path %></a>
                      </div>
                    </div>
                  </div>

                      <div class="col-sm-2">
                        <div class="card">
                           <img class="card-img-top" src="/assets/yenthara.jpg" alt="Yenthara Lokapu">
                          <div class="card-body">
                          <a class="btn btn-primary" <%= link_to 'Yenthara', yenthara_path %></a>
                          </div>
                          </div>
                        </div>

                        <div class="col-sm-2">
                          <div class="card">
                             <img class="card-img-top" src="/assets/adiga.jpg" alt="Adiga Adiga">
                            <div class="card-body">
                            <a class="btn btn-primary" <%= link_to 'Adiga Adiga', adiga_path %></a>
                            </div>
                            </div>
                          </div>
          <div class="col-md-5 offset-sm-7">
            <h1 class="block-title mb-4">
               <span class="text-ribbon text-ribbon-primary">
                <span>Hand Picked</span>
              </span>
            </h1>
            <p class="lead">
              <span class="text-ribbon text-ribbon-primary ">
                <span>
                  Every album, song, and video is the very best in class.
                </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block block-fill-height block-transparent block-inverse block-angle app-block-kanye">
    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img block-bg-img-top"
             style="background-image: url(/assets/gitar.jpg)">
        </div>
      </div>
    </div>
    <div class="block-xs-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1 class="block-title mb-4">
              <span class="text-ribbon">
                <span>Music Videos</span>
              </span>
            </h1>
            <p class="lead">
              <span class="text-ribbon">
                <span>
                  We stream all latest music videos.
                </span>
              </span>
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/-xgy9rTzUnw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/4gDYt1XPkkE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-transparent block-fill-height block-angle block-app-mosdef">
    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img block-bg-img-top"
             style="background-image: url(/assets/show.jpg)">
        </div>
      </div>
    </div>
    <div class="block-xs-middle">
      <div class="container">
        <div class="audio_left">
      <h2><span class="badge badge-success">Guravaram</span></h2>
      <%=audio_tag "guruvaram.mp3", class:'audio-to-play', controls:true %>
      </div></br>
      <div class="audio_left">
    <h2><span class="badge badge-warning">I Wanna Fly</span></h2>
    <%=audio_tag "iwan.mp3", class:'audio-to-play', controls:true %>
      </div></br>
      <div class="audio_left">
      <h2><span class="badge badge-secondary">Tholi Prema</span></h2>
      <%=audio_tag "tholi.mp3", class:'audio-to-play', controls:true %>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <h1 class="block-title mb-4">
              <span class="text-ribbon text-ribbon-success">
                <span>Sign Up Now</span>
              </span>
            </h1>

            <form action="https://facebook.com/WeLoveTeluguMusic/" method="post">
            <div class="text-ribbon-inputs-split">
              <input type="text" class="h4 text-ribbon-input text-ribbon-primary" placeholder="First Name" required>
              <input type="text" class="h4 text-ribbon-input text-ribbon-primary" placeholder="Last Name" required>
            </div>
            <input type="email" class="h4 text-ribbon-input text-ribbon-input-half text-ribbon-primary" placeholder="Email" required>
            <button type="submit" class="btn btn-square btn-primary btn-lg btn-block">
              Sign Up !
            </button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-inverse accent-primary" id="footer">
    <div class="container">
      <div class="row text-serif">
        <div class="col-md-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Quick Links</h4></li>
            <li class="text-muted"><em><%= link_to 'Video Songs', video_songs_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Audio Songs', songs_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Lyrics', teluse_path %></em></li>
            <li class="text-muted"><em><%= link_to 'FM Radio', andhra_mirchi_path %></em></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Social</h4></li>
            <li class="text-muted"><em><a href="https://facebook.com/WeLoveTeluguMusic/">Facebook</a></em></li>
            <li class="text-muted"><em><a href="https://twitter.com/">Twitter</a></em></li>
            <li class="text-muted"><em><a href="https://gmail.com/">Google +</a></em></li>
            <li class="text-muted"><em><a href="https://skype.com/">Skype</a></em></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Artists</h4></li>
            <li class="text-muted"><em><%= link_to 'Manisharma', manisharma_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Thaman S', thaman_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Devi Sri Prasad', dsp_path %></em></li>
            <li class="text-muted"><em><%= link_to 'Anup Rubens', anoop_path %></em></li>
          </ul>
        </div>
        <div class="col-md-6 mb-4">
          <ul class="list-unstyled list-spaced">
            <li><h4>Quick Items</h4></li>
            <li class="text-muted">
              <em>Pick your favourite: <a  <%= link_to 'Oosupodu Lyrics,', oosupodu_path %></a> and <a <%= link_to 'Kothaga Kothaga Song lyrics', kothaga_path %></a>,<a <%= link_to 'Audio Songs', songs_path %></a>, and <a <%= link_to 'Rayyi Rayyi Mantu', rayyi_path %></a> <a <%= link_to 'FM Radio', andhra_mirchi_path %></a>,<a <%= link_to 'Yantrapu Lokapu,', yenthara_path %></a> <%= link_to 'Ne Kallalona', nekalla_path %></a> <a <%= link_to 'Adiga Adiga', adiga_path %></a> are shared under the <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0 license</a>.</em>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
