<!DOCTYPE html>
<html lang="en">
  <style>
    .title{
      margin-left: 420px;
    }
    .text-serif{
      color: white;
    }
    </style>
<body>
<div class="title">
<h3 class="block-title mb-4">
  <span class="text-ribbon text-ribbon-primary">
    <span>Latest Telugu Movie Songs Lyrics</span>
  </span>
</h3>
</div><br>
<p class="text-serif"><em>You can find the latest movie wise list of <strong>Telugu Song Lyrics</strong> below. Song lyrics are known as <strong>Geethalu</strong> in telugu. check out the latest movies song lyrics below or you can directly search for the songs. Do bookmark this page to be updates on the latest song releases along with their lyrics. Currently we have plenty of telugu movies along with lyrics on our website.<br />
</em></p><br>

<div class="col-sm-6 col-md-4 col-lg-4 padd-lr-five">
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-4">
          <div class="thumbnail clearfix">
             <%= link_to(image_tag("/assets/malli.jpg"), malli_path) %>
             </div>
           <h4 class="mb-0"><%= link_to 'Malli Rava', malli_path %></h4>
        </div><br> -->
        <div class="col-sm-4">
          <div class="card">
             <img class="card-img-top" src="/assets/yenthara.jpg" alt="Yenthara Lokapu">
            <div class="card-body">
            <a class="btn btn-danger" <%= link_to 'Yenthara', yenthara_path %></a>
            </div>
            </div>
          </div>
        <div class="col-sm-4">
          <div class="card">
             <img class="card-img-top" src="/assets/nekalla.jpg" alt="Ne kallalona">
              <div class="card-body">
            <a class="btn btn-danger" <%= link_to 'Ne Kallalona', nekalla_path %></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
             <img class="card-img-top" src="/assets/gaali.jpg" alt="Gaali Valuga">
            <div class="card-body">
            <a class="btn btn-danger" <%= link_to 'Gaali Valuga', gaali_path %></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
             <img class="card-img-top" src="/assets/rayyi.jpg" alt="Rayyi rayyi">
            <div class="card-body">
              <a class="btn btn-danger" <%= link_to 'Rayyi Rayyi', rayyi_path %></a>
            </div>
            </div>
          </div>
      <div class="col-sm-4">
        <div class="card">
           <img class="card-img-top" src="/assets/mca.jpg" alt="Kothaga">
          <div class="card-body">
          <a class="btn btn-danger" <%= link_to 'Kothaga', kothaga_path %></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
           <img class="card-img-top" src="/assets/malli.jpg" alt="Malli Rava">
          <div class="card-body">
          <a class="btn btn-danger" <%= link_to 'Malli Rava', malli_path %></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
           <img class="card-img-top" src="/assets/hello.jpg" alt="Merise">
          <div class="card-body">
            <a class="btn btn-danger" <%= link_to 'Merise ', merise_path %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
         <img class="card-img-top" src="/assets/oosupodu.jpg" alt="Oosupodu">
        <div class="card-body">
        <a class="btn btn-danger" <%= link_to 'Oosu Podu', oosupodu_path %></a>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
              <div class="card">
                 <img class="card-img-top" src="/assets/breakup.jpg" alt="Breakup">
                <div class="card-body">
                <a class="btn btn-danger" <%= link_to 'Break Up', teluse_path %></a>
                </div>
              </div>
            </div>
                  <div class="col-sm-4">
                    <div class="card">
                       <img class="card-img-top" src="/assets/adiga.jpg" alt="Adiga Adiga">
                      <div class="card-body">
                      <a class="btn btn-danger" <%= link_to 'Adiga Adiga', adiga_path %></a>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
