<!DOCTYPE html>
<html lang="en">
  <!-- <style>
  .song_images{
    margin-left: 420px;
    }
    .songs_pad{
        margin-left: 400px;
    }
    .title{
      margin-left: 420px;
    }
    </style> -->
<body>
  <div class="title">
  <h3 class="block-title mb-4">
    <span class="text-ribbon text-ribbon-primary">
      <span>Enjoy Your Favorite Songs</span>
    </span>
  </h3>
</div>
<img class="song_images" src="/assets/top5.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
          <div class="songs_pad">
          <div class="audio_left">
          <h2><span class="badge badge-success">01 Ranga Ranga Rangasthalana</span></h2>
          <%=audio_tag "ranga.mp3", class:'audio-to-play', controls:true %>
            </div><br></br>

          <div class="audio_left">
          <h2><span class="badge badge-success">02 Guruvaram</span></h2>
          <%=audio_tag "guruvaram.mp3", class:'audio-to-play', controls:true %>
            </div><br></br>

          <div class="audio_left">
          <h2><span class="badge badge-success">03 I Wanna Fly</span></h2>
          <%=audio_tag "iwan.mp3", class:'audio-to-play', controls:true %>
            </div><br></br>

          <div class="audio_left">
          <h2><span class="badge badge-success">04 Sainika</span></h2>
          <%=audio_tag "sainika.mp3", class:'audio-to-play', controls:true %>
            </div><br></br>

            <div class="audio_left">
          <h2><span class="badge badge-success">05 Tholi Prema</span></h2>
          <%=audio_tag "tholi.mp3", class:'audio-to-play', controls:true %>
          </div><br></br>

          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
